Repository Talos10/SOEN390-team-9, pull requests merged in 2021-02, with the labels that each got.

#44 Task 34/Add Appbar Sidenav
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/assets/profile-icon.jpg
  frontend/src/components/partials/appbar/Appbar.module.css
  frontend/src/components/partials/appbar/Appbar.test.tsx
  frontend/src/components/partials/appbar/Appbar.tsx
  frontend/src/components/partials/container/Container.module.css
  frontend/src/components/partials/container/Container.test.tsx
  frontend/src/components/partials/container/Container.tsx
  frontend/src/components/partials/sidenav/Sidenav.css
  frontend/src/components/partials/sidenav/Sidenav.module.css
  frontend/src/components/partials/sidenav/Sidenav.test.tsx
  frontend/src/components/partials/sidenav/Sidenav.tsx
  frontend/src/index.tsx
  frontend/src/styles/normalize.css
  frontend/src/styles/styles.css
Labels: frontend

#47 Sprint 1 Documentation
  docs/Sprint 1 documentation/Release Plan.xlsx
  docs/Sprint 1 documentation/Risk Management Plan.pdf
  docs/Sprint 1 documentation/Risks List.pdf
  docs/Sprint 1 documentation/Software Architecture Description.pdf
  docs/Sprint 1 documentation/Testing Plan.pdf
  frontend/package-lock.json
  frontend/package.json
Labels: documentation

#58 FEAT-24: implementation of goods routes
  backend/.nycrc.json
  backend/config.ts
  backend/package.json
  backend/src/Good/good.controller.ts
  backend/src/Good/good.interfaces.ts
  backend/src/Good/good.models.ts
  backend/src/Good/good.service.ts
  backend/src/User/user.models.ts
  backend/src/User/user.service.ts
  backend/src/index.ts
  backend/src/shared/passportHandler.ts
  backend/test/goodTests/controller.test.ts
  backend/test/goodTests/service.test.ts
  backend/test/userTests/service.test.ts
  docs/Routes/good_routes.md
  scripts/createDB.sql
Labels: backend, database

#72 Issue #17 CSV import export implemented
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/inventory/Inventory.scss
  frontend/src/pages/inventory/Inventory.tsx
  frontend/src/pages/inventory/csv-impex/csv-export.tsx
  frontend/src/pages/inventory/csv-impex/csv-import.tsx
  frontend/src/utils/api.tsx
Labels: frontend
